<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<ul>
<% current_song = 1 %>
<% @songs.each do |song| %>
    <li><%= "#{current_song}) #{song}" %></li>
    <% current_song += 1 %>
    <% end %>
</ul>

<h1>pornhub</h1>